<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">

    <title>Админ</title>
</head>

<body>
<div sec:authorize="isAuthenticated()">
    HELLEW, <b th:inline="text"> [[${#httpServletRequest.remoteUser}]]</b>!
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
<table class="table table-striped table-bordered">
    <caption>
        <a th:href="@{/user-create}" class="btn btn-secondary btn-sm mb-3"> Добавить пользователя </a>
    </caption>
    <thead class="table-dark">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Права доступа</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.getRolesToString()}"></td>
        <td>
            <a th:href="@{user-update/{id}(id=${user.id})}">Редактировать</a>
            <a th:href="@{user-delete/{id}(id=${user.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>