<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">

    <title>Новый пользователь</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    Привет, <b th:inline="text"> [[${#httpServletRequest.remoteUser}]]</b>!
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
<body>
<h2>Создать нового пользователя</h2>

<form action="#" th:action="@{/touch-user}" th:object="${user}" method="post">
    <label for="firstName">Имя</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">Фамилия</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="email">Возраст</label>
    <input type="text" th:field="*{age}" id="email" placeholder="Age">
    <br/>
    <label for="username">Логин</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Пароль</label>
    <input class="form-control" type="password" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Create User">
    <label for="roles">Права доступа</label>
    <br/>
    <select multiple th:field="*{roles}" id="roles">
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}">
        </option>
    </select>
    <br/>
</form>
</body>
</html>
